[SyslogBot]
# This group defines the account login data for the bot.
# It must be named Syslogbot.
# JID ist the JID to login Password the password
JID=syslogbot@example.com
Password=verysecretpassword
# All messages will be delivered to these JIDs,
# if there is no recipient in the message line.
# If "JIDs" is empty then the messages will be delivered
# to all online users in the roster of the bot.
# JIDs are separated by ","
JIDs=admin1@example.com,admin2@example.com
# Here you can specify the named pipes where syslog bot
# reads the messages.
# Filenames are separated by a ","
# All named pipes with write permission are opened in read-update
# mode. This makes it possible that the pipe connection partner can
# disconnect and reconnect.
Pipes=/dev/syslogbot,/tmp/anotherpipe
